In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [2]:
data = pd.read_csv('retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [4]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    recs = np.random.choice(items_weights.item_id, size=n, replace=False, p=items_weights.weight)
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    # your_code
    
    return recs.tolist()

Создадим датафрейм items_weights со столбцами item_id, weight.

Так как вероятность не может быть отрицательной, все sales_sum < 1 приравняем 1 (тогда логарифм и, соответственно, вероятность семплирования данного товара будет равна 0).

После нормализации весов проверим, чтобы сумма весов была равна 1.

In [5]:
items_weights = data_train.groupby('item_id')['sales_value'].sum().reset_index().rename(columns={'sales_value': 'weight'})
items_weights.loc[items_weights['weight'] < 1, 'weight'] = 1
items_weights['weight'] = np.log(items_weights['weight'])
items_weights['weight'] = items_weights['weight'] / items_weights['weight'].sum()
items_weights.weight.sum()

0.9999999999999999

Из блокнота вебинара я сохранил датафрейм result в pickle, т.к. при чтении csv ячейки со списками превращаются в ячейки со строкой, что требует дополнительной обработки.

In [6]:
result = pd.read_pickle('predictions_basic.pkl')
result.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[10356599, 13007316, 956822, 12949308, 1103011]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13911392, 1066059, 1060279, 2073510, 6391048]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]"

In [7]:
%%time

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5))

result.head(2)
# your_code

Wall time: 5.75 s

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[10356599, 13007316, 956822, 12949308, 1103011]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]","[1017711, 985445, 785838, 839753, 917427]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13911392, 1066059, 1060279, 2073510, 6391048]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]","[1099637, 910705, 986994, 1032597, 6424209]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [8]:
import os, sys
    
from metrics import precision_at_k, recall_at_k

In [9]:
# your_code
for name_col in result.columns[1:]:
    print(f"{round(result.apply(lambda row: precision_at_k(row[name_col], row['actual']), axis=1).mean(),4)}:{name_col}")

1.0:actual
0.0006:random_recommendation
0.1552:popular_recommendation
0.1369:itemitem
0.1329:cosine
0.139:tfidf

C:\Users\Илья\Desktop\GeekBrains\Рекомендательные системы\webinar_2\metrics.py:20: RuntimeWarning: invalid value encountered in long_scalars
  return flags.sum() / len(recommended_list)

0.2019:own_purchases
0.0011:weighted_random_recommendation

Как и на вебинаре, лучшее качество показывает own_purchases. Взвешенный алгоритм случайных рекоммендаций показывает качество чуть выше, чем просто случайные рекоммендации, но метрика качества все равно очень низкая.

### Задание 3*. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

Заведем фиктивный item_id для товаров, не входящих в топ-5000. Затем создадим новый data_train с топ-5000 товаров. На этом датафрейме и рассчитаем бейзлайны.

In [10]:
# your_code
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()
# Заведем фиктивный item_id (если юзер покупал товары не из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999
data_train_top5000 = data_train.loc[data_train['item_id'] != 999999]
data_train_top5000.head(100)

C:\Users\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
147,718,26985360571,1,913785,1,0.99,324,-1.00,1115,1,0.0,0.0
148,718,26985360571,1,920308,1,0.50,324,-0.49,1115,1,0.0,0.0
149,718,26985360571,1,922340,2,1.98,324,-0.20,1115,1,0.0,0.0
151,718,26985360571,1,934676,1,1.37,324,-0.42,1115,1,-1.0,0.0
152,718,26985360571,1,938547,1,1.37,324,-0.42,1115,1,0.0,0.0

In [11]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [12]:
%%time

items = data_train_top5000.item_id.unique()

result['random_recommendation_top5000'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))

result.head(2)

Wall time: 668 ms

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases,weighted_random_recommendation,random_recommendation_top5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[10356599, 13007316, 956822, 12949308, 1103011]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]","[1017711, 985445, 785838, 839753, 917427]","[891961, 903609, 1043128, 824758, 957741]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13911392, 1066059, 1060279, 2073510, 6391048]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]","[1099637, 910705, 986994, 1032597, 6424209]","[955370, 827667, 861603, 1051626, 1017127]"

In [13]:
def popularity_recommendation(data, n=5):
    """Топ-n популярных товаров"""
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [14]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(data_train_top5000, n=5)

result['popular_recommendation_top5000'] = result['user_id'].apply(lambda x: popular_recs)
result.head(2)

Wall time: 153 ms

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases,weighted_random_recommendation,random_recommendation_top5000,popular_recommendation_top5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[10356599, 13007316, 956822, 12949308, 1103011]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]","[1017711, 985445, 785838, 839753, 917427]","[891961, 903609, 1043128, 824758, 957741]","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13911392, 1066059, 1060279, 2073510, 6391048]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]","[1099637, 910705, 986994, 1032597, 6424209]","[955370, 827667, 861603, 1051626, 1017127]","[6534178, 6533889, 1029743, 6534166, 1082185]"

In [15]:
items_weights = data_train_top5000.groupby('item_id')['sales_value'].sum().reset_index().rename(columns={'sales_value': 'weight'})
items_weights.loc[items_weights['weight'] < 1, 'weight'] = 1
items_weights['weight'] = np.log(items_weights['weight'])
items_weights['weight'] = items_weights['weight'] / items_weights['weight'].sum()

result['weighted_random_top5000'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5))

result.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases,weighted_random_recommendation,random_recommendation_top5000,popular_recommendation_top5000,weighted_random_top5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[10356599, 13007316, 956822, 12949308, 1103011]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]","[1017711, 985445, 785838, 839753, 917427]","[891961, 903609, 1043128, 824758, 957741]","[6534178, 6533889, 1029743, 6534166, 1082185]","[838010, 1003838, 1071342, 1110218, 1127716]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13911392, 1066059, 1060279, 2073510, 6391048]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]","[1099637, 910705, 986994, 1032597, 6424209]","[955370, 827667, 861603, 1051626, 1017127]","[6534178, 6533889, 1029743, 6534166, 1082185]","[845193, 1034081, 965719, 993913, 13095243]"

In [16]:
for name_col in result.columns[1:]:
    print(f"{round(result.apply(lambda row: precision_at_k(row[name_col], row['actual']), axis=1).mean(),4)}:{name_col}")

1.0:actual
0.0006:random_recommendation
0.1552:popular_recommendation
0.1369:itemitem
0.1329:cosine
0.139:tfidf

C:\Users\Илья\Desktop\GeekBrains\Рекомендательные системы\webinar_2\metrics.py:20: RuntimeWarning: invalid value encountered in long_scalars
  return flags.sum() / len(recommended_list)

0.2019:own_purchases
0.0011:weighted_random_recommendation
0.0074:random_recommendation_top5000
0.1552:popular_recommendation_top5000
0.0061:weighted_random_top5000

Как видно, на топ-5000 товаров метрика при популярных рекоммендациях не изменилась, но при рандомных рекоммендациях метрика улучшилась. При этом метрика одинакова для рандомной и взвешенной рандомной рекоммендации. Объяснить это можно так - отбирая топ-5000 товаров, мы отбираем товары примерно с одинаковым весом. Поэтому неважно, брать просто рандомные рекоммендации, или взвешенные. При рекоммендации же популярных товаров список популярных товаров в data_train и data_train_top5000 одинаков.

Теперь поробуем улучшить разные варианты ItemItemRecommender

In [17]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

In [18]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [19]:
metrics_list = []
for i in range(10):
    model = ItemItemRecommender(K=i+1, num_threads=4) # K - кол-во билжайших соседей


    model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
              show_progress=True)
    
    tmp_df = result[['actual']]

    tmp_df['itemitem'] = result['user_id'].apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                                        model.recommend(userid=userid_to_id[x], 
                                        user_items=sparse_user_item,   # на вход user-item matrix
                                        N=5, 
                                        filter_already_liked_items=False, 
                                        filter_items=None, 
                                        recalculate_user=True)])
    
    metrics_list.append(tmp_df.apply(lambda row: precision_at_k(row['itemitem'], row['actual']), axis=1).mean())

for idx, itm in enumerate(metrics_list):
    print(f'precision_at_k for K={idx+1}: {itm}')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

<ipython-input-19-ebea88bafcfa>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_df['itemitem'] = result['user_id'].apply(lambda x: [id_to_itemid[rec[0]] for rec in

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

precision_at_k for K=1: 0.1799869409076044
precision_at_k for K=2: 0.1920094678419821
precision_at_k for K=3: 0.1860920666013684
precision_at_k for K=4: 0.14495592556317158
precision_at_k for K=5: 0.13692458374142857
precision_at_k for K=6: 0.14201762977472907
precision_at_k for K=7: 0.1448579823702236
precision_at_k for K=8: 0.14720861900097773
precision_at_k for K=9: 0.14848188050930292
precision_at_k for K=10: 0.15093046033300497

Меняя разное количество соседей, мы находим баланс между нахождением самого похожего товара и обобщающей способности модели. Видно, что лучшая метрика достигается при K=2, дальше до К=5 она падает. Но после К=6 с ростом количества соседей обобщающая способность модели растет, и благодаря этому метрика немного повышается. При этом, еще раз скажу, на этом датасете важнее искать немного (1-3) самых похожих товаров.